<div ng-if="repos">
    <h2>Repositories</h2>
    <div ng-repeat="repo in repos">
        <div class="thumbnail">
            <div class="caption">
                <h3>{{repo.name}}
                    <span class="badge">{{repo.stargazers_count}} STARS</span>
                </h3>
                <p>{{repo.description}}</p>
                <p>
                    <a ng-href="{{repo.html_url}}" class="btn btn-primary" role="button">Repository</a>
                    <a ng-href="{{repo.html_url + '/issues'}}" class="btn btn-default" role="button">Issues ({{repo.open_issues}})</a>
                </p>
            </div>
        </div>
    </div>
</div>
